<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Predictive Maintenance</title>

  <script src="https://d3js.org/d3.v4.min.js"></script>
  
  <link rel="stylesheet" href=" {{ url_for('static', filename='billboard.css') }} ">

  <script src =" {{ url_for('static', filename='billboard.js') }} "></script>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href=" {{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}">

  <!-- Custom styles for this template -->
  <link rel="stylesheet" href=" {{ url_for('static', filename='css/heroic-features.css') }}">

  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  </head>

  <body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Dashboard</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Toggler/collapsibe Button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar links -
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/?machine=0">Machine13-model1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/?machine=2">Machine11-model2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/?machine=4">Machine1-model3</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/?machine=6">Machine2-model4</a>
          </li>
        </ul>
      </div>
    -->
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-2">
        <div class="page-header my-4">
          <h1>M-13<small>model1</small></h1>
          <div id='alert' class="mx-auto bg-success rounded-circle" style="width:200px; height:200px;">
          </div>
          <div class="row">
            <div class="col-12">
              <div class="card-header">
                Comp1
              </div>
              <div class="card-body">              
                <div class="progress">
                  <div id="comp1" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="card-header">
                Comp2
              </div>
              <div class="card-body">
                <div class="progress">
                  <div id="comp2" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="card-header">
                Comp3
              </div>
              <div class="card-body">
                <div class="progress">
                  <div id="comp3" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>    
            </div>
            <div class="col-12">
              <div class="card-header">
                Comp4
              </div>
              <div class="card-body">
                <div class="progress">
                  <div id="comp4" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>         
            </div>
            </div>
          </div>
        </div>
      <div class="col-10"><!-- Jumbotron Header -->
        <div class="row">
          <div class="col-6 mb-3">
            <div class="card">            
                <div class="card-header">Voltage</div>
                <div class="card-body">              
                  <div id="lineChart1"></div>
                </div>
            </div>
          </div>
          <div class="col-6 mb-3">
            <div class="card">
              <div class="card-header">Rotate</div>
              <div class="card-body">              
                <div id="lineChart2"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6 mb-3">
              <div class="card">            
                <div class="card-header">Pressure</div>
                <div class="card-body">              
                  <div id="lineChart3"></div>
                </div>
              </div>
          </div>
          <div class="col-6 mb-3">
              <div class="card">
                <div class="card-header">Vibration</div>
                <div class="card-body">              
                  <div id="lineChart4"></div>
                </div>
              </div>
          </div>
        </div>
      </div>
      </div>
      <div class="row">
        <div class="col-12">
          <table id="log" class="table table-fixed">
              <thead>
                <tr>
                  <th class="col-xs">E/F</th>
                  <th class="col-xs">Sub</th>
                  <th class="col-xs">Datetime</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
          </table>
        </div>
      </div>      
    </div>
  <!-- /.container -->

  <!-- Footer
  <footer class="bg-dark navbar-fixed-bottom">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
  </footer>
  -->

  <script>
  $(document).ready(function () {
    $('#log').DataTable({
    "scrollY": "200px",
    "scrollCollapse": true,
    });
    $('.dataTables_length').addClass('bs-select');    
  });

  sensorData = {{initdata|tojson}}
  tIdx = 1;
  cnt = 0;
  cnt_failure = 0;
  flag = false;
  flag_failure = false;

  var voltChart = bb.generate({
    data: {
      json: sensorData,
      keys: {
        value: ["volt"],
        x: "datetime"
      },
      xFormat: "%Y-%m-%d %H:%M:%S",
      type: "spline"
    },
    axis: {
      x: {
        type: "timeseries",
        tick: {
          culling: false,
          count: 5,
          format: "%Y-%m-%d %H:%M:%S"
        }
      }
    },
    color: {
      pattern: ["#1f77b4"]
    },
    bindto: '#lineChart1'
  });

  var rotateChart = bb.generate({
    data: {
      json: sensorData,
      keys: {
        value: ["rotate"],
        x: "datetime"
      },
      xFormat: "%Y-%m-%d %H:%M:%S",
      type: "spline"
    },
    axis: {
      x: {
        type: "timeseries",
        tick: {
          culling: false,
          count: 5,
          format: "%Y-%m-%d %H:%M:%S"
        }
      }
    },
    color: {
      pattern: ["#ffbb78"]
    },
    bindto: '#lineChart2'
  });
  
  var pressureChart = bb.generate({
    data: {
      json: sensorData,
      keys: {
        value: ["pressure"],
        x: "datetime"
      },
      xFormat: "%Y-%m-%d %H:%M:%S",
      type: "spline"
    },
    axis: {
      x: {
        type: "timeseries",
        tick: {
          culling: false,
          count: 5,
          format: "%Y-%m-%d %H:%M:%S"
        }
      }
    },
    color: {
      pattern: ["#d62728"]
    },
    bindto: '#lineChart3'
  });
  
  var vibrationChart = bb.generate({
    data: {
      json: sensorData,
      keys: {
        value: ["vibration"],
        x: "datetime"
      },
      xFormat: "%Y-%m-%d %H:%M:%S",
      type: "spline"
    },
    axis: {
      x: {
        type: "timeseries",
        tick: {
          culling: false,
          count: 5,
          format: "%Y-%m-%d %H:%M:%S"
        }
      }
    },
    color: {
      pattern: ["#bcbd22"]
    },
    bindto: '#lineChart4'
  });
  for(var data of sensorData)
  {
    if(data["errorID"] != "none")
    {
      $('#log > tbody:last').append('<tr><td class="align-middle">error</td><td class="align-middle">'+data["errorID"]+'</td><td class="align-middle">'+data["datetime"]+'</td>');
      tIdx++;
    }
  }

  setInterval(function () {
    $.ajax({
      type: "POST",
      url: "/draw",
      success: function(data) {
        drawChart(data);
        appendTable(data);
        updateAlert(data);
        drawStatus(data);
        drawProgress();
      }
    });
  }, 1000);

  function drawChart(data)
  {
    function flatten(arr) {
      return [].concat.apply([], arr);
    }
    var data = JSON.parse(data)
    voltChart.flow({
      json: flatten(data),
      keys: {
        value: ["volt"],
        x: "datetime"
      },
      xFormat: "%Y-%m-%d %H:%M:%S",
      duration: 500,
    });
    rotateChart.flow({
      json: flatten(data),
      keys: {
        value: ["rotate"],
        x: "datetime"
      },
      xFormat: "%Y-%m-%d %H:%M:%S",
      duration: 500,
    })
    pressureChart.flow({
      json: flatten(data),
      keys: {
        value: ["pressure"],
        x: "datetime"
      },
      xFormat: "%Y-%m-%d %H:%M:%S",
      duration: 500,
    })
    vibrationChart.flow({
      json: flatten(data),
      keys: {
        value: ["vibration"],
        x: "datetime"
      },
      xFormat: "%Y-%m-%d %H:%M:%S",
      duration: 500,
    })
  }

  function appendTable(data)
  {      
    var data = JSON.parse(data);    
    for(var item of data)
    {
      if(item["errorID"] != "none")
      {
        $('#log > tbody:last').append('<tr><td class="col-xs">error</td><td class="col-xs">'+item["errorID"]+'</td><td class="col-xs">'+item["datetime"]+'</td>');
        if(flag==false)
        {
          tIdx++;
        }
        cnt = 0;
        flag=true;
      }
      if(item["failure"] != "none")
      {
        if(cnt_failure==0)
        {
          tIdx++;
          $('#log > tbody:last').append('<tr class="bg-danger"><td class="col-xs">failure</td><td class="col-xs">'+item["failure"]+'</td><td class="col-xs">'+item["datetime"]+'</td>');
        }
        cnt_failure++;
      }
    }
  }

  function updateAlert(data)
  {
    var data = JSON.parse(data);
    for(var item of data)
    {
      if(item["failure"] == "none")
      {
        if(flag)
        {
          $('#alert').toggleClass("bg-success",false);
          $('#alert').toggleClass("bg-warning",true);
          $('#alert').toggleClass("bg-danger",false);   
          flag = false;
        }
        else
        {
          $('#alert').toggleClass("bg-success",true);
          $('#alert').toggleClass("bg-warning",false);
          $('#alert').toggleClass("bg-danger",false);
          flag = false;
        }
      }
      else
      {
        $('#alert').toggleClass("bg-success",false);
        $('#alert').toggleClass("bg-warning",false);
        $('#alert').toggleClass("bg-danger",true);
        flag = false; 
      }
    }
  }

  function drawStatus(data)
  {
    var data = JSON.parse(data);
    for(var item of data)
    {
      var comp1 = item["comp1"];
      var comp2 = item["comp2"];
      var comp3 = item["comp3"];
      var comp4 = item["comp4"];

      var compArray = [comp1, comp2, comp3, comp4];
      var max = Math.max.apply(null, compArray);

      origin_comp1 = comp1;
      origin_comp2 = comp2;
      origin_comp3 = comp3;
      origin_comp4 = comp4;

      comp1 = comp1/max * 100;
      comp2 = comp2/max * 100;
      comp3 = comp3/max * 100;
      comp4 = comp4/max * 100;
      
      $('#comp1').css('width', comp1+'%').attr('aria-valuenow', comp1);
      $('#comp2').css('width', comp2+'%').attr('aria-valuenow', comp2);
      $('#comp3').css('width', comp3+'%').attr('aria-valuenow', comp3);
      $('#comp4').css('width', comp4+'%').attr('aria-valuenow', comp4);
    }
  }

  function drawProgress()
  {
    var comp1 = $('#comp1').attr('aria-valuenow');
    var comp2 = $('#comp2').attr('aria-valuenow');
    var comp3 = $('#comp3').attr('aria-valuenow');
    var comp4 = $('#comp4').attr('aria-valuenow');

    if(comp1 >= 75) {
      $('#comp1').toggleClass("bg-danger", true);
      $('#comp1').toggleClass("bg-success", false);
    }
    else {
      $('#comp1').toggleClass("bg-danger",false);
      $('#comp1').toggleClass("bg-success", true);
    }

    if(comp2 >= 75) {
      $('#comp2').toggleClass("bg-danger", true);
      $('#comp2').toggleClass("bg-success", false);
    }
    else {
      $('#comp2').toggleClass("bg-danger",false);
      $('#comp2').toggleClass("bg-success", true);
    }

    if(comp3 >= 75) {
      $('#comp3').toggleClass("bg-danger", true);
      $('#comp3').toggleClass("bg-success", false);
    }
    else {
      $('#comp3').toggleClass("bg-danger",false);
      $('#comp3').toggleClass("bg-success", true);
    }

    if(comp4 >= 75) {
      $('#comp4').toggleClass("bg-danger", true);
      $('#comp4').toggleClass("bg-success", false);
    }
    else {
      $('#comp4').toggleClass("bg-danger",false);
      $('#comp4').toggleClass("bg-success", true);
    }
  }
  
</script>
</body>

</html>
