
<html>

<head>
    <title>SVHN Model as a Flask API</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<h1>Flask And Google House Number Predictor</h1>
<div class="agile-its">
    <h2>Flask with ML Web Service</h2>
    <div class="w3layouts">
        <div class="photos-upload-view">
            <form id="upload" action="/predict" method="POST" enctype="multipart/form-data">
                <input type="submit" value="예측 결과">
                {% if label1 %}
                    <span class="result_lable">
                        {{label1}} {{label2}}
						{{label3}} {{label4}}
						{{label5}} {{label6}}
						{{label7}} {{label8}}
                    </span>
                {% endif %}
            </form>
        </div>
    </div>
	<div>
		<form id="graph_page" action="/graph" method="POST">
			<button>그래프 페이지</button>
		</form>
	</div>
</div>
</body>

</html>