<body>
  <head>
    <title>billboard</title>
    <script src="https://d3js.org/d3.v4.min.js"></script>
	<link rel="stylesheet" href=" {{ url_for('static', filename='billboard.css') }} ">
	<script src =" {{ url_for('static', filename='billboard.js') }} "></script>
  </head>
  <body>
    <div id="flow"></div>
  </body>
</body>
<script>
var data = [
	 [
		 { "Occurrence time": "09:10,11", "Time taken": 2, count: '10'},
		 { "Occurrence time": "09:10,11", "Time taken": 4, count: '10'},
		 { "Occurrence time": "09:10,11", "Time taken": 10, count: '3'}
	 ],
	 [
		 { "Occurrence time": "09:10,12", "Time taken": 2, count: '30'}
	 ],
	 [
		 { "Occurrence time": "09:10,13", "Time taken": 2, count: '40'},
		 { "Occurrence time": "09:10,13", "Time taken": 6, count: '1'}
	 ]
 ];

 function flatten(arr) {
	 return [].concat.apply([], arr);
 }

var chart = bb.generate({
	 data: {
		 json: flatten(data),
		 keys: {
			 value: ["Time taken"],
			 x: "Occurrence time"
		 },
         xFormat: "%H:%M,%S",
		 type: "scatter"
	 },
	 axis: {
		 x: {
			 type: "timeseries",
			 tick: {
				 format: function(x) {
				 	return [x.getHours(), x.getMinutes(), x.getSeconds()].join(":");
				 }
			 }
		 }
	 }
 });

setTimeout(function() {
	 chart.flow({
		 json: flatten([{"Occurrence time": "09:10,14", "Time taken": 5, count: '30'}]),
         length: 2,
		 keys: {
			 value: ["Time taken"],
			 x: "Occurrence time"
		 },
		 duration: 1000,
         done: function() {
	         chart.flow({
		         json: flatten([{"Occurrence time": "09:10,15", "Time taken": 5, count: '30'}]),
		         keys: {
			         value: ["Time taken"],
			         x: "Occurrence time"
		         },
		         duration: 1000
	         });
         }
	 });
 }, 1000);

</script>